.text-primary {
  color: $main-color !important;
}
.btn-primary {
  color: white !important;
  background-color: $main-color !important;
  outline-color: $main-color;
  &:hover {
    background-color: darken($main-color, 1) !important;
    color: white !important;
  }
}
